.elementor-20 .elementor-element.elementor-element-165a187 .banner-style-4 {
    background: #024765;
}

.elementor-20 .elementor-element.elementor-element-165a187 .banner-style-2 {
    background: #2F2D51;
}

.elementor-20 .elementor-element.elementor-element-165a187 .banner-style-3 .subheading {
    color: #015ABD;
}

.elementor-20 .elementor-element.elementor-element-165a187 .banner-style-4 .banner-content .subheading {
    color: #fff;
}

.elementor-20 .elementor-element.elementor-element-165a187 .banner-style-4 .banner-content h1 {
    color: #fff;
}

.elementor-20 .elementor-element.elementor-element-165a187 .banner-style-4 .banner-content p {
    color: #fff;
}

.elementor-20 .elementor-element.elementor-element-165a187 .banner-style-2 .banner-content .subheading {
    color: #fff;
}

.elementor-20 .elementor-element.elementor-element-165a187 .banner-style-2 .banner-content h1 {
    color: #fff;
}

.elementor-20 .elementor-element.elementor-element-165a187 .banner-style-2 .banner-content p {
    color: #fff;
}

.elementor-20 .elementor-element.elementor-element-165a187 .banner-style-3 .banner-content h1 {
    color: #fff;
}

.elementor-20 .elementor-element.elementor-element-165a187 .banner-style-3 .banner-content p {
    color: #fff;
}

.elementor-20 .elementor-element.elementor-element-6f777e2 {
    margin-top: -100px;
    margin-bottom: 0px;
}

.elementor-20 .elementor-element.elementor-element-231e6dc .counter-inner {
    background: #023f58;
}

.elementor-20 .elementor-element.elementor-element-2272964 {
    padding: 100px 0px 100px 0px;
}

.elementor-20 .elementor-element.elementor-element-9080c0a>.elementor-widget-container {
    padding: 0px 0px 40px 0px;
}

.elementor-20 .elementor-element.elementor-element-c92dc49>.elementor-element-populated {
    padding: 0px 12px 0px 12px;
}

.elementor-20 .elementor-element.elementor-element-57c2c7b .step-item .step-number {
    color: #fff;
    background: #DD246E;
}

.elementor-20 .elementor-element.elementor-element-57c2c7b .feature-style-left .feature-icon {
    background: #DD246E;
}

.elementor-20 .elementor-element.elementor-element-57c2c7b>.elementor-widget-container {
    padding: 0px 12px 0px 12px;
}

.elementor-20 .elementor-element.elementor-element-57c2c7b {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
}

.elementor-20 .elementor-element.elementor-element-5f056f5 .step-item .step-number {
    color: #fff;
    background: #00C0A6;
}

.elementor-20 .elementor-element.elementor-element-5f056f5 .feature-style-left .feature-icon {
    background: #00C0A6;
}

.elementor-20 .elementor-element.elementor-element-5f056f5>.elementor-widget-container {
    padding: 0px 12px 0px 12px;
}

.elementor-20 .elementor-element.elementor-element-5f056f5 {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
}

.elementor-20 .elementor-element.elementor-element-61b0bbb .step-item .step-number {
    color: #fff;
    background: #1162FC;
}

.elementor-20 .elementor-element.elementor-element-61b0bbb .feature-style-left .feature-icon {
    background: #1162FC;
}

.elementor-20 .elementor-element.elementor-element-61b0bbb>.elementor-widget-container {
    padding: 0px 12px 0px 12px;
}

.elementor-20 .elementor-element.elementor-element-61b0bbb {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
}

.elementor-20 .elementor-element.elementor-element-5ded662 .step-item .step-number {
    color: #fff;
    background: #DD246E;
}

.elementor-20 .elementor-element.elementor-element-5ded662 .feature-style-left .feature-icon {
    background: #DD246E;
}

.elementor-20 .elementor-element.elementor-element-5ded662>.elementor-widget-container {
    padding: 0px 12px 0px 12px;
}

.elementor-20 .elementor-element.elementor-element-5ded662 {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
}

.elementor-20 .elementor-element.elementor-element-9b7ff3b>.elementor-element-populated {
    padding: 0px 12px 0px 12px;
}

.elementor-20 .elementor-element.elementor-element-694ddba {
    padding: 100px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-d1a07f9>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-5ae0ec5>.elementor-element-populated {
    padding: 0px 12px 0px 12px;
}

.elementor-20 .elementor-element.elementor-element-d4d64f7 .feature-style-top .feature-icon {
    color: #F14D5D;
}

.elementor-20 .elementor-element.elementor-element-1580d30>.elementor-element-populated {
    padding: 0px 12px 0px 12px;
}

.elementor-20 .elementor-element.elementor-element-6e6d0cd .feature-style-top .feature-icon {
    color: #F14D5D;
}

.elementor-20 .elementor-element.elementor-element-d53879d>.elementor-element-populated {
    padding: 0px 12px 0px 12px;
}

.elementor-20 .elementor-element.elementor-element-ad164e7 .feature-style-top .feature-icon {
    color: #F14D5D;
}

.elementor-20 .elementor-element.elementor-element-743e373>.elementor-element-populated {
    padding: 0px 12px 0px 12px;
}

.elementor-20 .elementor-element.elementor-element-43ee1da .feature-style-top .feature-icon {
    color: #F14D5D;
}

.elementor-20 .elementor-element.elementor-element-a164791 {
    margin-top: 0px;
    margin-bottom: -120px;
}

@media(min-width:768px) {
    .elementor-20 .elementor-element.elementor-element-c92dc49 {
        width: 58.33%;
    }

    .elementor-20 .elementor-element.elementor-element-9b7ff3b {
        width: 41.67%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-20 .elementor-element.elementor-element-c92dc49 {
        width: 100%;
    }

    .elementor-20 .elementor-element.elementor-element-9b7ff3b {
        width: 100%;
    }

    .elementor-20 .elementor-element.elementor-element-5ae0ec5 {
        width: 50%;
    }

    .elementor-20 .elementor-element.elementor-element-1580d30 {
        width: 50%;
    }

    .elementor-20 .elementor-element.elementor-element-d53879d {
        width: 50%;
    }

    .elementor-20 .elementor-element.elementor-element-743e373 {
        width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-20 .elementor-element.elementor-element-dd383dd>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-20 .elementor-element.elementor-element-9080c0a>.elementor-widget-container {
        padding: 0px 0px 15px 15px;
    }
}

@media(max-width:767px) {
    .elementor-20 .elementor-element.elementor-element-c92dc49 {
        width: 100%;
    }

    .elementor-20 .elementor-element.elementor-element-57c2c7b {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }

    .elementor-20 .elementor-element.elementor-element-5f056f5 {
        width: var(--container-widget-width, 100%);
        max-width: 100%;
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
    }

    .elementor-20 .elementor-element.elementor-element-61b0bbb {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }

    .elementor-20 .elementor-element.elementor-element-5ded662 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }

    .elementor-20 .elementor-element.elementor-element-9b7ff3b {
        width: 100%;
    }
}